<ion-content [fullscreen]="true">
  <ion-card class="page-title">
    <ion-card-header>
      <ion-card-title>
        Afterschoolers
      </ion-card-title>
    </ion-card-header>
  </ion-card>

  <ion-card class="title-card ion-text-center">
    <ion-card-header>
      <ion-card-title>Never stop learning.</ion-card-title>
      <ion-card-subtitle>TinkerTank is the original project based and hands-on learning learning space for STEAM
        education. Mentors work with Students at an unbelievable 1:6 ratio. We help to develop hard skills for future
        careers in science, technology, engineering, arts and math in a fun and engaging environment. Life skill
        development around problem-solving, creativity, collaboration, and design thinking are the core of our
        pedagogy/approach.</ion-card-subtitle>
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-button color="dark" class="ion-text-capitalize">
              Get Started
            </ion-button>
          </ion-col>
          <ion-col>
            <ion-button color="dark" class="ion-text-capitalize">
              Learn More
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-header>
  </ion-card>

  <ion-card class="ion-text-center afterschoolers-info">
    <ion-grid>

      <ion-row>

        <ion-col>
          <ion-img class="home-image" src="/assets/images/matthew/default.jpg"></ion-img>
        </ion-col>

        <ion-col>
          <ion-card>
            <ion-card-header>
              <ion-card-title>TinkerTank Membership</ion-card-title>
              <ion-card-subtitle>Premier Memberships starts at $49.99 per session, 1 session per week.<br>Premier
                Membership sessions are 1.5 hrs. Ages 5 to 12.</ion-card-subtitle>
            </ion-card-header>
          </ion-card>
        </ion-col>

      </ion-row>

      <ion-row>

        <ion-col>
          <ion-card>
            <ion-card-header>
              <ion-card-title>The Clubhouse</ion-card-title>
              <ion-card-subtitle>Clubhouse starts at $24.99 per session, 1 session per week.<br>Clubhouse sessions are
                1.5 hrs. Ages 5 to 12. Drop off only between 4pm and 5pm.</ion-card-subtitle>
            </ion-card-header>
          </ion-card>
        </ion-col>

        <ion-col>
          <ion-img class="home-image" src="/assets/images/matthew/default.jpg"></ion-img>
        </ion-col>

      </ion-row>

    </ion-grid>
  </ion-card>

  <ion-card class="ion-text-center afterschoolers-info">
    <ion-grid>

      <ion-row>

        <ion-col>
          <ion-card>
            <ion-card-title>TinkerTank Premier Membership</ion-card-title>
          </ion-card>
        </ion-col>

        <ion-col>
          <ion-card>
            <ion-card-header>
              <ion-card-title>Clubhouse @ TinkerTank</ion-card-title>
            </ion-card-header>
          </ion-card>
        </ion-col>

      </ion-row>

    </ion-grid>
  </ion-card>

  <ion-card class="afterschoolers-rock">
    <ion-card-header>
      <ion-card-title>
        Afterschoolers ROCK!
      </ion-card-title>
      <ion-card-subtitle>We challenge traditional perspectives, utilizing state-of-the-art technologies to fuel a
        creative learning experience. Say goodbye to one-size-fits-all methods and embrace the power of customized,
        cutting-edge techniques.<br>Solid life skill development around problem-solving, creativity, collaboration, and
        design thinking.</ion-card-subtitle>
    </ion-card-header>
  </ion-card>

  <ion-card class="open-studio">
    <ion-card-header>
      <ion-card-title>
        Come to our Open Studio
      </ion-card-title>
      <ion-card-subtitle>We would love to meet you and show you around</ion-card-subtitle>
      <ion-button color="dark" class="ion-text-capitalize">
        Get Started
      </ion-button>
    </ion-card-header>
  </ion-card>

</ion-content>