<ion-content [fullscreen]="true">
  <ion-card class="page-title">
    <ion-card-header>
      <ion-card-title>
        Holiday Camps
      </ion-card-title>
    </ion-card-header>
  </ion-card>

  <ion-card class="title-card ion-text-center">
    <ion-card-header>
      <ion-card-title>Never stop learning.</ion-card-title>
      <ion-card-subtitle>TinkerTank is the original project based and hands-on learning learning space for STEAM
        education. Mentors work with Students at an unbelievable 1:6 ratio. We help to develop hard skills for future
        careers in science, technology, engineering, arts and math in a fun and engaging environment. Life skill
        development around problem-solving, creativity, collaboration, and design thinking are the core of our
        pedagogy/approach.</ion-card-subtitle>
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-button color="dark" class="ion-text-capitalize">
              Get Started
            </ion-button>
          </ion-col>
          <ion-col>
            <ion-button color="dark" class="ion-text-capitalize">
              Learn More
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-header>
  </ion-card>

  <ion-card class="ion-text-center holiday-camps-info">
    <ion-grid>

      <ion-row>

        <ion-col>
          <ion-img class="home-image" src="/assets/images/matthew/default.jpg"></ion-img>
        </ion-col>

        <ion-col>
          <ion-card>
            <ion-card-header>
              <ion-card-title>Full Day of FUN + Innovation!</ion-card-title>
              <ion-card-subtitle>All 4 of our unique pathways to be explored through out the day.9am to 5pmBring snacks,
                lunch and SMILES!Ages 6 to 12</ion-card-subtitle>
              <ion-grid>
                <ion-row>
                  <ion-col>
                    <ion-button color="dark" class="ion-text-capitalize">
                      Learn More
                    </ion-button>
                  </ion-col>
                  <ion-col>
                    <ion-button color="dark" class="ion-text-capitalize">
                      Get Started
                    </ion-button>
                  </ion-col>
                </ion-row>
              </ion-grid>
            </ion-card-header>
          </ion-card>
        </ion-col>

      </ion-row>

      <ion-row>

        <ion-col>
          <ion-card>
            <ion-card-header>
              <ion-card-title>Hooray for Half Days!</ion-card-title>
              <ion-card-subtitle>Highly recommend this option for new students under 7 years old. 9 to 12 or 2 to
                5<br>Bring snacks and SMILES!</ion-card-subtitle>
              <ion-grid>
                <ion-row>
                  <ion-col>
                    <ion-button color="dark" class="ion-text-capitalize">
                      Learn More
                    </ion-button>
                  </ion-col>
                  <ion-col>
                    <ion-button color="dark" class="ion-text-capitalize">
                      Get Started
                    </ion-button>
                  </ion-col>
                </ion-row>
              </ion-grid>
            </ion-card-header>
          </ion-card>
        </ion-col>

        <ion-col>
          <ion-img class="home-image" src="/assets/images/matthew/default.jpg"></ion-img>
        </ion-col>

      </ion-row>

    </ion-grid>
  </ion-card>

  <ion-card class="ion-text-center holiday-camps-info">
    <ion-grid>

      <ion-row>

        <ion-col>
          <ion-card>
            <ion-card-title>TinkerTank Full Day Holiday Camp</ion-card-title>
          </ion-card>
        </ion-col>

        <ion-col>
          <ion-card>
            <ion-card-header>
              <ion-card-title>TinkerTank Half Day Holiday Camp</ion-card-title>
            </ion-card-header>
          </ion-card>
        </ion-col>

      </ion-row>

    </ion-grid>
  </ion-card>

  <ion-card class="text-excerpt">
    <ion-card-header>
      <ion-card-subtitle>Shape the future with STEAM-based Holiday camps that guarantee a hands-on and mind-blowing
        experience. Solid life skill development around problem-solving, creativity, collaboration, and design thinking.
        Immersive experiences designed to foster learning, creativity, and collaboration in a world of endless
        possibilities.</ion-card-subtitle>
    </ion-card-header>
  </ion-card>

  <ion-card class="text-excerpt">
    <ion-card-header>
      <ion-card-title>
        The Original Tech Camp
      </ion-card-title>
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-card>
              <ion-img class="activity-image" src="/assets/images/matthew/default.jpg"></ion-img>
              <ion-card-title>
                Crafty Coders
              </ion-card-title>
              <ion-card-subtitle>
                Embrace the wonders of coding, decipher algorithms and make digital masterpieces.
              </ion-card-subtitle>
            </ion-card>
          </ion-col>
          <ion-col>
            <ion-card>
              <ion-img class="activity-image" src="/assets/images/matthew/default.jpg"></ion-img>
              <ion-card-title>
                3D Wizards
              </ion-card-title>
              <ion-card-subtitle>
                Transform ideas into reality as you learn the ins and outs of 3D printing technology.
              </ion-card-subtitle>
            </ion-card>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-card>
              <ion-img class="activity-image" src="/assets/images/matthew/default.jpg"></ion-img>
              <ion-card-title>
                Robotic Revolution
              </ion-card-title>
              <ion-card-subtitle>
                Build and program robots to conquer challenges, and unleash the potential of automation.
              </ion-card-subtitle>
            </ion-card>
          </ion-col>
          <ion-col>
            <ion-card>
              <ion-img class="activity-image" src="/assets/images/matthew/default.jpg"></ion-img>
              <ion-card-title>
                Media Storm
              </ion-card-title>
              <ion-card-subtitle>
                Explore storytelling skills and create unique content within our media pathway that capture and create
                masterpieces that leave lasting impressions.
              </ion-card-subtitle>
            </ion-card>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-header>
  </ion-card>

  <ion-card class="open-studio">
    <ion-card-header>
      <ion-card-title>
        Come to our Open Studio
      </ion-card-title>
      <ion-card-subtitle>We would love to meet you and show you around</ion-card-subtitle>
      <ion-button color="dark" class="ion-text-capitalize">
        Get Started
      </ion-button>
    </ion-card-header>
  </ion-card>

</ion-content>